nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: #D45749;
    height: 60px;
}

.nav-icon {
    display: flex;
    padding-right: 20px;
}

.nav-icon a {
    color: white;
    text-decoration: none;
}

.nav-icon a:hover {
    color: gray;
}

.nav-icon1 {
    margin-right: 20px;
    list-style-type: none;
    margin-left: 10px;
}

.nav-button {
    display: flex;
    background-color: #063ECA;
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 13px;
    padding: 8px;
    justify-content: space-around;
    width: 120px;
}

ul {
    list-style-type: none;
}

.nav-blocks {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
}

.center-block {
    display: flex;
    align-items: center;
}

.button-size {
    border-radius: 30px;
    height: 55px;
    width: 55px;
    background-color: #0057FF;
    margin-left: 20px;
}

.plus {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.description {
    margin-left: 20px;
}

.center-search {
    height: 150px;
    /* background-color: #BBBFC6; */
    background-color: rgba(128, 127, 127, 0.582);
    border-radius: 10px;
    width: 36%;
}

.wip-blocks {
    display: flex;
}

.title-center {
    color: white;
}
.center-div {
    background-image: url(./images/architecture-beautiful-home-building-class-280229.jpg);
    border: 1px solid transparent;
}

.center-box {
    margin: 150px auto;
    text-align: center;
}

.center-search {
    margin-left: 32%;
}

.search-btn {
    background-color: #D45648;
    color: white;
    text-align: center;
    border: 0;
    margin-left: 0;
    width: auto;
}

.search-form {
    display: flex;
    justify-content: unset;
    height: 30px;
}

.search {
    width: 100%;
}

.search-title {
    text-align: left;
    vertical-align: middle;
}

.form-cent {
    padding: 45px;
}

.steps {
    background-color: #CCD0D7;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
}

.step-block {
    padding: 45px;
}

.system-manual {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.house-search {
    display: flex;
    text-align: center;
    width: 20%;
}

.icon {
    font-size: 22px;
    text-align: center;
}

.search-titles {
    color: red;
    font-size: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.subtittles {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.article-image {
    border-radius: 73px;
    width: 150px;
    height: 150px;
}

.mid-block {
    display: flex;
    justify-content: space-between;
    padding: 9px;
}

.btn2 {
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.mid2 {
    background: #98A4A5;
}

.mid1 {
    background-color: #E27F66;
}

.mid3 {
    background-color: #509BD7;
}

.btn1 {
    color: #E27F66;
    padding: 4px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.home {
    font-size: 15px;
}

.footer-top {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}

.ft-block1 {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #151515;
    border-top: 1px solid #151515;
    /* padding-top: 4px;
    padding-bottom: 4px; */
    margin-bottom: 20px;
    margin-top: 20px;
}

.ft-block2 {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #151515;
    border-top: 1px solid #151515;
    /* padding-top: 4px;
    padding-bottom: 4px; */
    margin-bottom: 20px;
    margin-top: 20px;
}

.ft-item1 {
    margin-left: 8px;
}

.heli {
    background-image: url(./images/blue-and-white-helicopter-41174.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ft-btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #151515;
    background-color: black;
}

.home1 {
    color: white;
}

.footer-icon {
    align-self: center;
    padding: 10px;
}

.labels {
    display: flex;
}

.items {
    display: flex;
    background-color: #EEEEEE;
    padding: 30px;
    align-self: center;
}

.name {
    padding: 40px;
}


.form-item {
    font-size: 20px;
    padding-left: 2px;
}

.submit {
    background-color: #71839F;
    margin-left: 2px;
    height: 25px;
}

.reset {
    background-color: #DACABF;
    margin-left: 2px;
    height: 25px;
}

.last {
    height: 30px;
    margin: 48px;

}
