nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: #D45749;
    height: 60px;
}

.nav-icon {
    display: flex;
    padding-right: 20px;
}

.nav-icon a {
    color: white;
    text-decoration: none;
}

.nav-icon a:hover {
    color: gray;
}

.nav-icon1 {
    margin-right: 20px;
    list-style-type: none;
    margin-left: 10px;
}

.nav-button {
    display: flex;
    background-color: #063ECA;
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 13px;
    padding: 8px;
    justify-content: space-around;
    width: 120px;
}

ul {
    list-style-type: none;
}

.logo {
    color: white;
}

.nav-blocks {
    display: flex;
    justify-content: space-between;
}

.search-btn {
    background-color: #D45648;
    color: white;
    text-align: center;
    border: 0;
    margin-left: 0;
    width: auto;
    outline: none;
}

.search-form {
    display: flex;
    justify-content: unset;
    height: 30px;
}

.search {
    width: 100%;
}

.search-title {
    text-align: left;
    vertical-align: middle;
}

.form-cent {
    padding: 45px;
}

.form-item {
    font-size: 20px;
    padding-left: 2px;
}

.main-sect {
    background-color: #EEEEEE;
}

.submit {
    background-color: #71839F;
    margin-left: 2px;
    height: 25px;
}

.reset {
    background-color: #DACABF;
    margin-left: 2px;
    height: 25px;
    outline: none;
}

.items {
    display: flex;
    background-color: #EEEEEE;
    padding: 30px;
    align-self: center;
    padding-left:  320px;
}

.name {
    padding: 40px;
}


.form-item {
    font-size: 20px;
    padding-left: 2px;
}

.main-h {
    text-align: center;
}

.last {
    height: 30px;
    margin: 48px;

}