nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: #D45749;
    height: 60px;
}

.nav-icon {
    display: flex;
    padding-right: 20px;
}

.nav-icon a {
    color: white;
    text-decoration: none;
}

.nav-icon a:hover {
    color: gray;
}

.nav-icon1 {
    margin-right: 20px;
    list-style-type: none;
    margin-left: 10px;
}

.nav-button {
    display: flex;
    background-color: #063ECA;
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 13px;
    padding: 8px;
    justify-content: space-around;
    width: 120px;
}

ul {
    list-style-type: none;
}

.nav-blocks {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
}

.center-block {
    display: flex;
    align-items: center;
}

.button-size {
    border-radius: 30px;
    height: 55px;
    width: 55px;
    background-color: #0057FF;
    margin-left: 20px;
}

.plus {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.description {
    margin-left: 20px;
}

.center-search {
    height: 150px;
    /* background-color: #BBBFC6; */
    background-color: rgba(128, 127, 127, 0.582);
    border-radius: 10px;
    width: 36%;
}

.wip-blocks {
    display: flex;
}

.title-center {
    color: white;
}
.center-div {
    background-image: url(./images/architecture-beautiful-home-building-class-280229.jpg);
    border: 1px solid transparent;
}

.center-box {
    margin: 150px auto;
    text-align: center;
}

.center-search {
    margin-left: 32%;
}

.search-btn {
    background-color: #D45648;
    color: white;
    text-align: center;
    border: 0;
    margin-left: 0;
    width: auto;
}

.search-form {
    display: flex;
    justify-content: unset;
    height: 30px;
}

.search {
    width: 100%;
}

.search-title {
    text-align: left;
    vertical-align: middle;
}

.form-cent {
    padding: 45px;
}

.steps {
    background-color: #CCD0D7;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
}

.step-block {
    padding: 45px;
}